.layer{
    height: 100%;
    background-color: rgba(205, 62, 92,0.5);
}
.bg-image {
    height: 100%;
    width: 100%;
    background: url('../../assets/images/gopi.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.header{
    --background: #AF273F !important;
    --color:#fff;
    text-align: center;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    font-family: myFirstFont;
}
.para1{
    margin: 0px !important;
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    font-family: myFirstFont;
}
.para2{
        margin: 0px !important;
        font-size: 16px;
        color:#fff;
        font-family: myFirstFont;
}
.navigate{
    background: blue !important;
    font-size: 16px;
    color: white;
    padding: 10px;
    margin-top: 4px;
    font-family: myFirstFont;

}
.list{
    background: transparent !important;
}
.icon{
     vertical-align: text-top;
}