<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/{{lang}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"contact" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="bg-image">
    <div class="layer">
  <ion-list class="list">
    <ion-item>
        <ion-card class="card">
            <ion-card-header class="card-header">
              <ion-card-title class="title">{{"groom" | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <p class='para2'>{{"friends" | translate }}&nbsp;:&nbsp;<a href="tel:+91-9840266840">+91-9840266840</a>(Mr A Satish) </p>
                <p class='para2'>{{"family" | translate }}&nbsp;:&nbsp;<a href="tel:+91-8870535991">+91-8870535991</a>(Mr P R Krishnamoorthy)</p>
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item>
        <ion-card class="card">
            <ion-card-header class="card-header">
              <ion-card-title class="title">{{"bride" | translate}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <p class='para2'>{{"friends" | translate }}&nbsp;:&nbsp;<a href="tel:+91-8940282203">+91-8940282203</a>(Mr S Arun) </p>
              <p class='para2'>{{"family" | translate }}&nbsp;:&nbsp;<a href="tel:+91-9944966266">+91-9944966266</a>(Mr Shanmugam)</p>
            </ion-card-content>
          </ion-card>
      </ion-item>
  </ion-list>
</div>
</div>
</ion-content>