<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="bg-image">

    <div class="layer">
      <div class='layer1'>
        <img class='imageOne' src="assets/icon/Wedding-Ring-128.png" />
        
      </div>
      <p class='para1'>Gopi's Family</p>
      <p class='para2'>Invites you to the Extravagenza</p>
      <div class='layer2'>
        <img class='imageTwo' src="assets/icon/Group 1.png" />
      </div>
      <button ion-button full class="buttonOne" (click)="createEvent()">RSVP</button>
      <button ion-button full class="buttonTwo">Invitation</button>
      <button ion-button full class="buttonThree">Live Stream</button>
      <button ion-button full class="buttonFour">Get Directions</button>

    </div>
  </div>

  <!-- <h2>{{"home" | translate }}</h2>
  <p> 
   {{ "about" | translate }}
  </p>
  <p> 
   {{"welcome" | translate }}
  </p>
  <button ion-button color="secondary" (click)="langChange()">Secondary</button> -->


</ion-content>